<%  const existeTitulo = typeof titulo !== "undefined"%>
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <h1 align="center">Menú Principal</h1>
    <title><%= existeTitulo? titulo : "Gestion Musical"%></title>

    <link rel="stylesheet"
          href="/bootstrap/css/bootstrap.css">

    <link rel="stylesheet" href="/css/estilos.css">




</head>
<body>


<div class ="container">
        <div align="center">
            Gestor Musical de canciones
        </div>
        <p align="center">Busque, Añada, Elimine, Actualice su biblioteca musical.</p>
        <div align="center">
            <button class = "espaciado-boton">Canciones</button>
        </div>
        <div align="center">
            <button class = "espaciado-boton">Albumes</button>
        </div>
        <div align="center">
            <button class = "espaciado-boton">Artistas / Bandas</button>
        </div>
        <div align="left">
            <button>Administracion</button>
        </div>

</div>
</body>